{% block content %}
    <aside class="col-sm-4">
        <div class="sidebar-box">
            <div id="reddits">
                <h4>Reddits</h4>
                <div class="list-group">
                    {% for p in reddits %}
                        <div id="reddit_{{ p.data.title }}">
                            <a class="list-group-item" href="{{ p.data.url }}"><img src="{{ p.data.thumbnail }}"
                                                                                    width="60"
                                                                                    height="60"/><span>{{ p.data.title }}</span></a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {#            <div class="list-group list-group-root">#}
        {#                #}
        {#                <div class="list-group">#}
        {#                    <a class="list-group-item" href="three-column.html">Three Column</a>#}
        {#                    <a class="list-group-item" href="one-column.html">One column / no sidebar</a>#}
        {#                    <a class="list-group-item" href="text.html">Text / left sidebar</a>#}
        {#                </div>#}
        {#                <a class="list-group-item" href="three-column.html">Three column layout example</a>#}
        {#                <a class="list-group-item" href="#">Sed aliquam libero ut velit bibendum</a>#}
        {#                <a class="list-group-item" href="#">Maecenas condimentum velit vitae</a>#}
        {#            </div>#}
        {#        </div>#}
    </aside>

{% endblock %}