{% load static %}<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Select currencies{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'CCProApp/style.css' %}">
    {% block stylesheet %}{% endblock %}
</head>
<body>
<!-- Header -->
<div class="header-wrap d-none d-md-block">
    <div class="container">
        <div class="row">

            <!-- Left header box -->
            <header class="col-6 text-left">
                <h1>Welcome at CC Professional</h1>
            </header>

        </div>
    </div>
</div>

<!-- Main content area -->
<main class="container">
    <h2 class="article-title">The site which helps you to manage your crypto currency
        portfolio</h2><br>

    {% block content %}
        <h3>Select currencies in your portfolio</h3><br>
        <div id="form">

            <form method="GET" id="cc_form" action="{% url 'CCProApp:selection_submit' %}">
                {% include "CCProApp/select_currencies_item.html" with formId="1" %}
            </form>
            <button type="submit" form="cc_form" value="Submit" formaction="/CCProPortfolio/index" class="btn btn-primary">Submit</button>

        </div>
    {% endblock %}
</main>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
{% block javascript %}
    <script>

        var formsCount = 1;

        /**
         *
         * @param formIdJS id of the form that was clicked at
         */
        function currencySelected(formIdJS) {
            $.get('/CCProApp/ajax/select_currency', {
                'formId': formIdJS
            }, function (result) {
                if (formIdJS === formsCount) {
                    {#alert("formIdJS: " + formIdJS)#}
                    {#alert("forms: " + formsCount)#}
                    formsCount++;
                    $('#cc_form').append(result);
                }
            }, 'html');

        }

    </script>
{% endblock %}
</body>
</html>